@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.not-found-container {
  display: flex;
  flex-direction: column;
}
.button-404 {
  font-weight: 300;
  background-color: #0d6efd;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid #efefef;
  padding: 0.5em;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
  transition: all 0.3s linear;
}
.button-404:hover {
  color: orange;
}

.text-404 {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.title-404 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-align: center;
  font-size: 10em;
  font-weight: 100;
}
